


    form {
        border: 3px solid #f1f1f1;
        width: 500px;
        padding: 20px;
        background-color: rgb(60, 60, 56);
        border-radius:15px;
        box-shadow:0px 0px 20px rgb(50, 23, 23) inset;
        margin: auto;
        min-height: 600px;
        color:#FFF;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;


    }
    form h2

{   font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    padding-left:170px;
}


form img

{
    height:150px;
    width:150px;
    margin: 25px 175px 0px 175px;
    border:2px solid violet;
    border-radius:50%;

}



    input[type=text], input[type=file] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }